* text=auto

*.dart text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.xcconfig text eol=lf
*.plist text eol=lf
*.swift text eol=lf
*.m text eol=lf
*.h text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.cmake text eol=lf
*.rc text eol=lf
*.manifest text eol=lf
*.pbxproj text eol=lf
*.xcscheme text eol=lf
*.xcworkspacedata text eol=lf

*.png binary
*.ico binary
*.jar binary